@model TechCareerBookMvc.ViewModels.YeniKitapViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Kitap Düzenle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="kitapAdi" class="control-label"></label>
                <input asp-for="kitapAdi" class="form-control" />
                <span asp-validation-for="kitapAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ISBN" class="control-label"></label>
                <input asp-for="ISBN" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fiyat" class="control-label"></label>
                <input asp-for="fiyat" class="form-control" />
                <span asp-validation-for="fiyat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="yayinlanmaTarihi" class="control-label"></label>
                <input asp-for="yayinlanmaTarihi" class="form-control" />
                <span asp-validation-for="yayinlanmaTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KitapPicture" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="KitapPicture" class="custom-file-input" />
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <span asp-validation-for="KitapPicture" class="text-danger"></span>
                <img src="~/Uploads/@Model.kitapResim" height="120" class="card-img-top" height="80" width="80" asp-append-version="true">
            </div>
            <div class="form-group">
                <input type="submit" value="Güncelle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Listeye Dön</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

